@import "/home/dracotato/.cache/wal/colors-waybar.css";

* {
  font-family: FiraCode Nerd Font Propo;
  font-size: 14px;
  font-weight: 500;
  color: @foreground;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 8px 16px;
}

#workspaces button {
  padding: 5px 2px;
}

#workspaces button label {
  color: @foreground;
}

#workspaces button.empty label {
  color: @color8;
}

#workspaces button.active label {
  color: @color5;
  border-bottom: 1px solid @color5;
}

#workspaces button.urgent {
  border-bottom: 1px solid @color5;
}

#workspaces,
#idle_inhibitor,
#tray,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#custom-power {
  padding: 0px 12px;
  border-radius: 6px;
  background: alpha(@background, 0.9);
  border: solid 1px alpha(@background, 0.2);
  transition: all 0.3s;
}

#clock,
#pulseaudio,
#cpu,
#memory,
#temperature,
#battery {
  color: @background;
}

#idle_inhibitor.activated {
  background: alpha(@color4, 0.9);
  color: @background;
}

#tray {
  background: alpha(@color5, 0.9);
}

#clock {
  background: alpha(@color10, 0.9);
}

#pulseaudio {
  background: alpha(@color3, 0.9);
}

#battery {
  background: alpha(@color6, 0.9);
}

#memory,
#temperature {
  margin-left: 8px;
}

#cpu,
#memory,
#temperature {
  background: alpha(@color7, 0.9);
  color: @background;
}

tooltip {
  background: alpha(@background, 0.9);
}
