@import "/home/dracotato/.cache/wal/colors-waybar.css";

* {
  font-family: FiraCode Nerd Font Propo;
  font-size: 14px;
  font-weight: 700;
  color: @foreground;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 8px 16px;
}

.module {
  padding: 0px 14px;
  background: alpha(@background, 0.1);
  border: solid 2px alpha(@foreground, 0.2);
  transition: all 0.3s;
}

.modules-left .module {
  border-radius: 18px 6px;
}

.modules-center .module {
  border-radius: 18px;
}

.modules-right .module {
  border-radius: 6px 18px;
}

#workspaces button {
  padding: 5px 2px;
}

#workspaces button label {
  color: alpha(@foreground, 0.6);
  border-bottom: 1px solid alpha(@foreground, 0.6);
  /* color: @foreground; */
  /* border-bottom: 1px solid @foreground; */
}

/* #workspaces button.empty label { */
/*   color: alpha(@foreground, 0.4); */
/*   border-bottom: 1px solid alpha(@foreground, 0.4); */
/* } */

#workspaces button.active label {
  color: @foreground;
  border-bottom: 1px solid @foreground;
  /* color: @color13; */
  /* border-bottom: 1px solid @color13; */
}

#idle_inhibitor.activated {
  border-color: alpha(@foreground, 0.9);
}

#memory,
#temperature {
  margin-left: 8px;
}

tooltip {
  background: alpha(@background, 0.9);
}
