@import "../../.cache/wal/colors";

* {
  font-family: "FiraCode Nerd Font Propo";
  font-size: 16px;
}

window {
  background-color: rgba(19, 24, 30, 0.99); /* breaks when opacity is 1 */
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  color: #fefefe;
  background-color: transparent;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #fefefe;
}

#entry {
  border: none;
  margin: 8px;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: #6666ee;
  border-radius: 5px;
  border: none;
}
